# This file contains 1Password references only. Install a completed copy as
# /etc/zulip-estate/op.env with mode 0600. Never replace refs with secret values.
ZULIP__POSTGRES_PASSWORD=op://REPLACE_VAULT/Zulip estate trial/postgres_password
ZULIP__MEMCACHED_PASSWORD=op://REPLACE_VAULT/Zulip estate trial/memcached_password
ZULIP__RABBITMQ_PASSWORD=op://REPLACE_VAULT/Zulip estate trial/rabbitmq_password
ZULIP__REDIS_PASSWORD=op://REPLACE_VAULT/Zulip estate trial/redis_password
ZULIP__SECRET_KEY=op://REPLACE_VAULT/Zulip estate trial/secret_key
ZULIP__EMAIL_PASSWORD=op://REPLACE_VAULT/Zulip estate trial/smtp_password
ZULIP_EMAIL_HOST=op://REPLACE_VAULT/Zulip estate trial/smtp_host
ZULIP_EMAIL_HOST_USER=op://REPLACE_VAULT/Zulip estate trial/smtp_user
ZULIP_EMAIL_PORT=op://REPLACE_VAULT/Zulip estate trial/smtp_port
